.container-purchase
  .container-purchase__clearfix
  = render "shared/second__header"
  .clearfix
    .purchase-complete
      .purchase-complete__top
        %p.purchase-complete__top__title 購入が完了しました!
      .purchase-complete__main
        %p.purchase-complete__main_text
          出品者の発送メッセージをお待ちください。
      .purchase-complete__button
        = link_to "トップページへ戻る", root_path, class: "purchase-complete__button__link"

  = render "shared/second__footer"