.search-results {
  min-height:1500px;
  max-width: 1000px;
  margin: 24px auto 0;
  padding: 0 0 40px;
  &__content {
    &__left {
      float: left;
      width: 300px;
      &__sort {
        background-color: white;
        margin: 0 16px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      &__detail {
        box-sizing: border-box;
        background-color: white;
        margin: 30px 16px;
        padding: 16px;
        &-keyword{
          margin-top: 30px;
        }
        &-category{
          margin-top: 30px;
        }
        &-brand{
          margin-top: 30px;
        }
        &-price{
          margin-top: 30px;
          &-search_field{
            display: flex;
          }
        }
        &-state{
          margin-top: 30px;
        }
        &-fee{
          margin-top: 30px;
        }
        &-search_field{
          width: 100%;
        }
        &-checkbox{
          display: flex;
          flex-wrap: wrap;
          label{
            box-sizing: border-box;
            width: 50%;
            display: flex;
            text-align: center;
            margin: 16px 0;
            padding: 0 10px;
            input{
              margin: auto;
              margin-right: 8px;
            }
          }
        }
        .search_btn{
          color: white;
          background-color: red;
          width: 100%;
          height: 50px;
          line-height: inherit;
        }
      }
    }
    &__right {
      width: calc( 100% - 300px );
      max-width: 700px;
      float: right;
      display: block;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      &__text {
        margin: 16px 0 8px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        padding: 0;
        display: block;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        box-sizing: border-box;
      }
      &__numbers {
        font-size: 12px;
        color: #888;
        display: block;
        margin: 16px 0;
      }
      .search-results__content__right__items {
        &__box {
          float: left;
          box-sizing: border-box;
          margin: 1% ;
          &__photo {
            box-sizing: border-box;
            border-style: solid;
            border-width: 0;
            text-shadow: none;
          }
          &__body {
            box-sizing: border-box;
            border-style: solid;
            border-color: white;
            font: 66.66667% sans-serif;
            width: 213px;
            height: 90px;
            background: white;
            padding: 10px;
            &__name {
              font-size: 16px;
            }
            &__value{
              font-weight: 600;
              color: #333;
              font-size: 17px;
            }
            &__tax {
              font-size: 10px;
              display: flex;
              &__heart {
                font-size: 18px;
                .fa-heart {
                  font-size: 18px;
                  padding-left: 105px;
                }
              }
            }
          }
        }
      }
    }
  }
}