.signup{
  &__header{
    $header-height: 15vh;
    min-height: 15vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__logo{
      width: 193px;
      height: $header-height;
      position: relative;
      &__link{
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        img{
          height: 50px;
        }
      }
    }
    &__nav{
      margin-bottom: 50px;
      &__box{
        padding-top: 40px;
        display: flex;
        &__li{
          font-size: 12px;
          margin: 0 20px;
          &__bottom{
            height: 2px;
            margin-top: 10px;
            background-color: #cccccc;
            &__first{
              width: 195%;
              margin-left: 52%;
            }
            &__second{
              width: 190%;
              margin-left: 50%;
            }
            &__third{
              width: 120%;
              margin-left: 50%;
            }
            &__forth{
              width: 140%;
              margin-left: 50%;
            }
            &__end{
              width: 1px;
            }
          }
          &__box{
            position: relative;
            &__radius{
              height: 10px;
              width: 10px;
              background-color: #cccccc;
              top: -5px;
              border-radius: 5px;
              position: absolute;
            }
            .signup__radius1{
              margin-left: 20px;
            }
            .signup__radius2{
              margin-left: 32px;
            }
            .signup__radius3{
              margin-left: 45px;
            }
            .signup__radius4{
              margin-left: 27px;
            }
            .signup__radius5{
              margin-left: 8px;
            }
            .signup__header__nav__red{
              background-color: red;
            }
          }
        }
      }
    }
  }
}